@font-face {
    font-family: "pfs-xbi";
    src: url("../fonts/pfsquaresanspro-xblackital.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfs-xb";
    src: url("../fonts/pfsquaresanspro-xblack.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfs-ti";
    src: url("../fonts/pfsquaresanspro-thinitalic.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfs-t";
    src: url("../fonts/pfsquaresanspro-thin.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfs-r";
    src: url("../fonts/pfsquaresanspro-regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfs-m";
    src: url("../fonts/pfsquaresanspro-medium.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfs-li";
    src: url("../fonts/pfsquaresanspro-lightitalic.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfs-l";
    src: url("../fonts/pfsquaresanspro-light.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfs-i";
    src: url("../fonts/pfsquaresanspro-italic.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfs-bi";
    src: url("../fonts/pfsquaresanspro-bolditalic.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "pfs-b";
    src: url("../fonts/pfsquaresanspro-bold.ttf");
    font-style: normal;
    font-weight: normal;
}