.col-md-4{
    width: 33.33333333%;
    float: left;
    /*padding: 0 15px;*/
}
.col-lg-12{
    width: 100%;
    float: left;
    padding: 0 15px;
}
.col-md-6{
    width: 50%;
    float: left;
    padding: 0 15px;
}
img{
    max-width: 100%;
}
a{
    color: #0066cc;
}
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row:after,
.row:before {
    display: table;
    content: " ";
}
.row:after{
    clear: both;
}
.news_item p{
    margin-bottom: 32px;
}
.news_item{
    margin: 0 15px 62px;
}
/*.news_item:hover{*/
    /*box-shadow: 0 0 11px rgba(33,33,33,.2);*/
/*}*/
.news_item_title{
    color: #000000;
}
.news-link a{
    color: #0066cc;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.news-link a img{
    width: 17px;
    height: 13px;
    margin-left: 10px;
    /*transform: rotate(180deg);*/
}
.tabs.tabs_links{
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.tabs.tabs_links li{
    width: 290px;
    list-style: none;
}
.tabs.tabs_links li a{
    width: 100%;
    display: block;
}
.pagination ul{
    padding: 0;
}
.pagination{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 68px;
}
.pagination ul li{
    float: left;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: solid 1px #f1f1f1;
    list-style: none;
    text-align: center;
    margin-right: 10px;
    color: #7f7f7f;
}

.pagination ul li:hover,
.pagination ul li.finish,
.pagination ul li.active{
    background-color: #0066cc;
    color: #fff;

}
.pagination ul li:hover a,
.pagination ul li.finish a,
.pagination ul li.active a{
    color: #fff;
}
.pagination ul li.next{
    width: 60px;
    background-color: #0066cc;
    margin-right: 0;
    color: #fff;
}
.pagination ul li.next a{
    color: #fff;
}
.pagination ul li a{
    width: 100%;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #7f7f7f;
}
.iframe-wrapper{
    margin-bottom: 80px;
}
.wrapper-info h2{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0066cc;
    text-align: left;
}
.wrapper-info input{
    font-family: "pfs-r";
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    padding: 0 30px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}
.wrapper-info textarea{
    font-family: "pfs-r";
    resize: none;
    height: 120px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #d2d2d2;
    width: 100%;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 20px;
}
.wrapper-info .slide_btn{
    border: 0;
    width: 100%;
}
.info-company p,
.info-company a{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /*line-height: 2.31;*/
    letter-spacing: normal;
    color: #000000;
    display: block;
    line-height: 2.31;
}
.info-company p span,
.info-company a span{
    font-weight: bold;
}
.link-soc .socials_item{
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 0;
    display: flex;
    align-items: start;
    line-height: 25px;
    /*height: 25px;*/
}
.link-soc .socials_item img{
    margin-right: 30px;
}
.wrapper-info{
    margin-bottom: 35px;
}
.sponsor-item{
    margin-bottom: 42px;
}
.sponsor-item h3{
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 4px;
}
.sponsor-item img{
    margin-bottom: 10px;
}
.sponsor-item p{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: normal;
}
.sponsor-item p a{
    color: #000;
}
.sponsor-item p a span{
    font-weight: bold;
}
hr{
    background-color: #d2d2d2;
    color: #d2d2d2;
    margin-bottom: 40px;
}
