* {
    outline: none;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "pfs-r";
    color: #111111;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #000;
}
p {
    margin-top: 0;
}
ul {
    padding: 0;
    margin: 0;
}
h1 {
    font-size: 28px;
    font-family: "pfs-b";
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
}
h1.single {
    margin-bottom: 35px;
}
h2 {
    font-size: 24px;
    font-family: "pfs-r";
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    text-align: center;
}
h2.blue {
    text-align: left;
    color: #0066cc;
}
h3 {
    font-size: 20px;
    font-family: "pfs-b";
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
}
h2.h1 {
    font-size: 28px;
    font-family: "pfs-b";
    margin-bottom: 64px;
}
.logo {
    text-align: center;
    padding: 15px 0;
}
.navigation {
    background-color: #0066cc;
    justify-content: center;
    position: relative;
}
.navigation .language {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    text-transform: uppercase;
}
.navigation .language ul {
    padding: 0;
    left: 0;
    list-style: none;
}
.navigation .language ul li.active {
    display: none;
}
.navigation .language ul li a {
    color: #fff;
}
ul.main_menu li {
    display: block;
    float: left;
}
ul.main_menu li a {
    display: block;
    padding: 18.5px 23px;
    color: #fff;
    font-size: 19px;
    transition: .2s;
}
ul.main_menu li a:hover {
    background-color: #0153a6;
}
.wf-container {
    width: 1720px;
    max-width: 100%;
    margin: 0 auto;
}
.container {
    width: 1170px;
    padding: 0 15px;
    max-width: 100%;
    margin: 0 auto;
}
.row {
    margin: 0 -15px;
}
.slide {
    position: relative;
    height: auto;
    background-position: center;
}
.slide_content {
    width: 100%;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 58px;
}
.slide_content h3 {
    font-size: 80px;
    font-family: "pfs-b";
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    line-height: .85em;
    margin-top: 17px;
}
.slide_content img {
    margin: 0 auto;
}
.slide_content .subtitle {
    font-size: 30px;
    margin-bottom: 42px;
}
.btn {
    width: 360px;
    height: 61px;
    line-height: 61px;
    border-radius: 8px;
    background-color: #0066cc;
    display: block;
    color: #fff;
    font-size: 18px;
    position: relative;
    text-align: center;
}
.btn > * {
    position: relative;
    z-index: 1;
}
.btn:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-image: linear-gradient(180deg, #0066cc 0%, #003793 100%);
    border-radius: 8px;
    opacity: 0;
    transition: .3s;
}
.btn:hover:after {
    opacity: 1;
}
.btn.btn_icon img {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.btn.btn_center {
    margin: 0 auto;
}
.btn.btn_inline {
    display: inline-block;
    margin-right: 30px;
}
.btn.btn_inline:last-of-type {
    margin-right: 0;
}
.btn.slide_btn {
    display: block;
    margin: 0 auto;
    font-size: 20px;
}
.slick-arrow {
    width: 56px;
    height: 56px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    z-index: 7;
    display: flex;
    justify-content: center;
    cursor: pointer;

}
.slick-arrow.m_prev {
    right: auto;
    left: 0;
    transform: translateY(-50%);
}
.slick-arrow.m_next {
    right: 0;
    left: auto;
    transform: translateY(-50%);
}
.main_slider .slick-arrow.m_prev, .main_slider .slick-arrow.m_next {
    transform: translateY(-107%);
}
.slick-arrow.m_next img {
    transform: rotate(180deg);
}
.main_about {
    text-align: center;
    background-color: #f5f5f5;
    padding: 45px 380px 85px;
}
.main_about p {
    line-height: 25px;
}
.main_about .buttons_group {
    margin-top: 48px;
}
.main_about_logo {
    margin-bottom: 25px;
}
.main_team_carousel .slick-arrow, .main_news .slick-arrow {
    z-index: 4;
}
.main_team_carousel.slick-initialized .slick-slide.main_team_carousel_item {
    position: relative;
    text-align: center;
    height: 455px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: center;
    padding: 0 15px;
    position: relative;
    z-index: 5;
}

.team_carousel.slick-initialized .slick-slide.main_team_carousel_item {
    position: relative;
    text-align: center;
    height: 292px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: center;
    padding: 0 15px;
    position: relative;
    z-index: 5;
}
.team_carousel .player_name {
    font-size: 20px;
}
.slick-initialized .slick-slide.main_team_carousel_item > * {
    width: 100%;
}
.slick-slide {
    height: auto;
}
.team_carousel .main_team_carousel_item_body img {
    max-width: 98%;
}
.main_team_carousel{
    margin-bottom: 61px;
}
.main_team_carousel_item_body {
    border-bottom: 2px solid #0f315e;
    margin-bottom: 19px;
    position: relative;
}
.team_carousel .main_team_carousel_item_body {
    margin-bottom: 13px;
}
.main_team_carousel_item_body:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 264px;
    height: 109px;
    z-index: -1;
    background-image: url("../img/player-after.png");
    -webkit-background-size: cover;
    background-size: cover;
    /*background-image: radial-gradient(107px 107px at 309.47% 1571.56%, #000000 0%, rgba(255, 255, 255, 0) 100%);*/
}
.team_carousel .main_team_carousel_item_body:after {
    width: 173px;
    height: 72px;
}
.main_team_carousel_item_body img {
    margin: 0 auto;
}
.player_name {
    font-size: 24px;
    color: #000;
}
.player_position {
    font-size: 18px;
    opacity: 0.5;
    color: #444444;
    font-family: "pfs-i";
}
.main_team_carousel_item_number {
    width: 150px !important;
    height: 150px;
    background-color: #f5f5f5;
    border-radius: 50%;
    font-size: 80px;
    color: #dddddd;
    font-family: "pfs-b";
    text-transform: uppercase;
    text-align: left;
    padding: 30px 40px 30px 15px;
    position: absolute;
    top: 4px;
    left: 0;
    text-align: center;
}
.team_carousel .main_team_carousel_item_number {
    width: 100px !important;
    height: 100px;
    font-size: 40px;
}
.main_team {
    padding: 48px 0 58px;
}
.news_items {
    margin-bottom: 32px;
}
.news_item {
    margin: 0 15px;
}
.main_news {
    background-color: #f5f5f5;
    padding-top: 35px;
    padding-bottom: 58px;
}
.main_news .slick-arrow {
    width: 74px;
    background-color: #ffffff;
}
.main_news .slick-arrow.m_next {
    right: -58px;
}
.main_news .slick-arrow.m_prev{
    left: -59px;
}
.news_item_title {
    display: block;
    font-size: 20px;
    font-family: "pfs-b";
    margin-bottom: 20px;
}
.main_news .slick-arrow{
    transform: translateY(-78%);
}
.news_item_date {
    line-height: 18px;
    font-size: 14px;
    padding-left: 30px;
    background-image: url(../img/date.svg);
    background-repeat: no-repeat;
    background-position: 1px -2px;
}
.news_item_thumb {
    display: block;
    margin: 25px 0 33px;
}
.news_item p {
    font-size: 16px;
    line-height: 22px;
}
.main_team .slick-arrow {
    width: 188px;
    background-color: #f5f5f5;
}
.main_team .slick-arrow.m_prev {
    justify-content: flex-start;
    left: -84px;
    padding-left: 20px;
}
.main_team .slick-arrow.m_next {
    justify-content: flex-end;
    right: -84px;
    padding-right: 20px;
}
.team_carousel .slick-arrow {
    width: 120px;
    background-color: #f5f5f5;
    z-index: 4;
}
.team_carousel .slick-arrow.m_prev {
    justify-content: flex-start;
    left: -49px;
    padding-left: 20px;
}
.team_carousel .slick-arrow.m_next {
    justify-content: flex-end;
    right: -49px;
    padding-right: 20px;
}
.slick-list {
    z-index: 6;
}
.socials_item {
    display: block;
    height: 50px;
    width: 25%;
    line-height: 52px;
    color: #fff;
    padding: 0 66px;
    background-repeat: no-repeat;
    background-position: left 30px center;
}
.socials_item.fb {
    background-color: #39579a;
    background-image: url(../img/fb.svg);
}
.socials_item.pr {
    background-color: #bf0112;
    background-image: url(../img/pr.svg);
}
.socials_item.tw {
    background-color: #079ff6;
    background-image: url(../img/tw.svg);
}
.socials_item.vm {
    background-color: #00acf2;
    background-image: url(../img/vm.svg);
}
.footer_block {
    align-items: center;
    padding: 15px 14px;
}
.footer_block > * {
    width: 33%;
}
.f_contacts > * {
    display: block;
    text-align: center;
}
.f_contacts  {
    line-height: 27px;
    margin-top: 12px;
}
.copyright  {
    line-height: 27px;
    text-align: right;
}
.copyright > * {
    display: block;
}
.copyright span {
    color: #000000;
    opacity: 0.5;
    font-size: 14px;
}
.contacts_side {
    display: block;
    text-align: center;
    position: fixed;
}
.contacts_side ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.contacts_side ul li {
    margin-bottom: 24px;
}
.contacts_side.contacts_side_left {
    left: 39px;
    top: 36.5%;
}
.contacts_side.contacts_side_right {
    right: 33px;
    top: 42%;
}
.page_main_pct {
    position: relative;
}
.page_main_pct:after {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #000000;
    opacity: .52;
    position: absolute;
    top: 0;
    left: 0;
}
.page_main_pct img {
    width: 100%;
}
.breadcrumbs {
    font-size: 14px;
    margin: 25px 0 35px;
}
.breadcrumbs ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
.breadcrumbs ol li {
    display: inline-block;
}
.breadcrumbs ol li a span {
    color: #0066cc;
}
.breadcrumbs ol li span {
    color: #686868;
}
.breadcrumbs a span:after {
    display: inline-block;
    content: '|';
    margin-left: 4px;
}
.tabs_links {
    margin-top: 25px;
}
.tabs_links a {
    display: block;
    width: 25%;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 58px;
    color: #747474;
    padding: 10px 0;
    position: relative;
    line-height: 16px;
    transition: .3s;
}
.tabs_links a:hover {
    color: #0066cc;
    border-color: #0066cc;
}
.tabs_links a.active {
    font-size: 20px;
    color: #0066cc;
}
.tabs_links a.active:after {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #0066cc;
    position: absolute;
    bottom: -1px;
    left: 0;
}
main.team h2 {
    margin-bottom: 35px;
}
.tab_content {
    margin-bottom: 72px;
}
.tab_content:last-of-type {
    margin-bottom: 55px;
}
.about_team {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 70px;
}
.player_single_main {
    align-items: flex-start;
}
.player_single_photo {
    width: 23.246%;
    border-bottom: 2px solid #0066cc;
    position: relative;
    padding-top: 23px;
}
.player_single_photo:after {
    display: block;
    content: '';
    width: 264px;
    height: 109px;
    background-image: url(../img/ps_after.png);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.player_single_stat {
    width: 74%;
}
.info_block {
    margin-bottom: 47px;
}
.info_block_heading_wrap{
    overflow: hidden;
}
.info_block_heading {
    width: 293px;
    color: #0066cc;
    border-bottom: 4px solid #0066cc;
    position: relative;
    align-items: flex-end;
    margin-bottom: 33px;
}
.info_block_heading .position {
    font-size: 24px;
    position: relative;
}
.info_block_heading .position:after {
    display: block;
    content: '';
    width: 10000px;
    height: 1px;
    background-color: #d2d2d2;
    position: absolute;
    bottom: -4px;
    left: 0;
    z-index: -1;
}
.info_block_heading .number {
    font-size: 52px;
    font-family: "pfs-b";
    margin-bottom: -10px;
}
.info_block_body {
    width: 484px;
    margin-left: 107px;
    margin-bottom: 36px;
}
.info_block_body.fw {
    width: 100%;
    margin-left: 0;
}
.col50 .info_block_heading  {
    margin-bottom: 40px;
}
.info_block_body.fw .info_row {
    margin-left: 30px;
}
.info_block_body:last-child {
    margin-bottom: 0;
}
.info_block_body h3{
    font-family: "pfs-r";
}
.info_row {
    position: relative;
    margin-bottom: 16px;
    margin-left: 10px;
}
.info_row:after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #d2d2d2;
    position: absolute;
    bottom: 7px;
    left: 0;
    z-index: -1;
}
.info_cell.kay {
    font-size: 18px;
    background-color: #fff;
    padding-right: 10px;
}
.info_cell.value {
    width: 107px;
    background-color: #fff;
    font-size: 20px;
    padding-left: 10px;
}
.col50 {
    width: 50%;
    padding: 0 15px;
}
.icon_info_row .icon_info_cell:first-child {
    width: 75px;
    text-align: center;
    padding-left: 10px;
}
.icon_info_row .icon_info_cell:last-child {
    width: calc(100% - 75px);
    font-size: 18px;
    line-height: 30px;
}
.icon_info_row {
    margin-bottom: 30px;
}
.icon_info_row:last-child {
    margin-bottom: 0px;
}
.info_block p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 28px;
}
.bio .info_block_heading {
    margin-bottom: 40px;
}
.bio {
    margin-bottom: 66px;
}
.single_tab_content {
    margin-bottom: 83px !important;
}
.iframe_wrap {
    margin-bottom: 40px;
    margin-bottom: 40px;
}
.iframe_wrap iframe{
    width: 100%;
    height: 358px;
}
.menu_toggle {
    display: none;
}
.about_wrap p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 40px;
}
.about_wrap img.aligncenter {
    display: block;
    margin: 0 auto 30px;
}
