@media (max-width: 1440px) {
    main, footer {
        padding: 0 15px;
    }
    .contacts_side {
        display: none;
    }
    .main_about {
        padding: 45px 185px 85px;
    }
}
@media (max-width: 1050px) {
    .main_about {
        padding: 31px 50px 60px;
    }
    .navigation  {
        justify-content: space-between;
        padding: 0 15px;
    }
    .navigation .language {
        position: static;
        transform: none;
        transform: none;
        line-height: 57px;
        order: 2;
    }
    .navigation nav {
        display: none;
        order: 3;
        width: 100%;
        margin-bottom: 15px;
    }
    ul.main_menu li {
        display: block;
        width: 100%;
        float: none;
        text-align: center;
    }
    .navigation .menu_toggle {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        width: 40px;
        height: 27px;
        margin: 16px 0;
        cursor: pointer;
        order: 1;
        position: relative;
    }
    .navigation .menu_toggle:after {
        display: block;
        content: 'Меню';
        color: #ffffff;
        font-size: 19px;
        position: absolute;
        right: -64px;
        top: 50%;
        transform: translateY(-50%);
    }
    .navigation .menu_toggle span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #fff;
        transition: .3s;
    }
    .navigation .menu_toggle.active span{
        opacity: 0;
    }
    .navigation .menu_toggle.active span:first-child {
        opacity: 1;
        transform: rotate(45deg) translate(8px, 8px);
    }
    .navigation .menu_toggle.active span:last-child {
        opacity: 1;
        transform: rotate(-45deg) translate(8px, -8px);
    }
    .slide_content img {
        height: 114px;
        margin-top: 10px;
    }
    .slide_content h3 {
        font-size: 40px;
        margin-top: 11px;
    }
    .slide_content .subtitle {
        font-size: 16px;
        margin-bottom: 16px;
        margin-top: 5px;
    }
    .btn.slide_btn {
        font-size: 16px;
        width: 251px;
        height: 51px;
        line-height: 51px;
    }
    .slide_content {
        padding-top: 2px;
        padding-bottom: 29px;
    }
    .main_slider .slick-arrow.m_prev, .main_slider .slick-arrow.m_next {
        transform: translateY(-74%);
        width: 36px;
        height: 37px;
    }
    .main_slider .slick-arrow {
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .main_slider .slick-arrow img {
        height: 50%;
    }
    h1 {
        font-size: 24px;
        margin-bottom: 26px;
    }
    h2.h1 {
        font-size: 24px;
        margin-bottom: 26px;
    }
    .main_about_logo {
        margin-bottom: 41px;
    }
    .main_about .buttons_group {
        margin-top: 44px;
    }
    .btn {
        width: 291px;
    }
    .main_team {
        padding: 34px 50px 58px;
    }
    .news_item_thumb {
        height: 194px;
        position: relative;
        overflow: hidden;
    }
    .news_item_thumb img {
        position: absolute;
        top: 0;
        left: 50%;
        width: auto;
        height: 100%;
        transform: translateX(-50%);
        max-width: none;
    }
    .main_team .slick-arrow {
        width: 130px;
    }
    .main_team .slick-arrow.m_next {
        right: -50px;
    }
    .main_team .slick-arrow.m_prev {
        left: -50px;
    }
    .main_team_carousel {
        margin-bottom: 40px;
    }
    .main_team_carousel.slick-initialized .slick-slide.main_team_carousel_item {
        padding: 0 27px;
    }
    .team_carousel.slick-initialized .slick-slide.team_carousel_item {
        padding: 0 27px;
    }
    .btn.small {
        width: 250px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
    }
    .main_news {
        padding-top: 19px;
    }
    .main_news h2.h1 {
        margin-bottom: 32px;
    }
    .main_news .news_items {
        padding: 0 50px;
        margin-bottom: 22px;
    }
    .main_news .slick-arrow {
        width: 65px;
    }
    .main_news .slick-arrow.m_next {
        right: 0;
    }
    .main_news .slick-arrow.m_prev {
        left: 0;
    }
    .news_item_title {
        font-size: 18px;
    }
    .news_item_thumb {
        margin: 25px 0 23px;
    }
    .main_news {
        padding-bottom: 47px;
    }
    .socials_item {
        background-position: left 20px center;
        font-size: 5px;
    }
    .footer_block {
        padding: 15px 5px;
    }
    .footer_block div:first-child img {
        height: 50px;
    }
    .team_carousel.slick-initialized .slick-slide.main_team_carousel_item {
        height: 417px;
    }
    .tab_content {
        padding: 0 50px;
    }
    .team_carousel .main_team_carousel_item_number {
        width: 150px !important;
        height: 150px;
        font-size: 80px;
    }
    #tabs .col-md-4 {
        width: 50%;
    }
    .player_single_photo {
        width: 40%;
    }
    .player_single_stat {
        width: 55%;
    }
    .info_block_body {
        margin-left: 15px;
        width: 100%;
    }
    .info_block_body.fw .info_row {
        margin-left: 15px;
    }
    .icon_info_row .icon_info_cell:first-child {
        width: 50px;
        padding-left: 15px;
        text-align: left;
    }
    .icon_info_row .icon_info_cell:last-child {
        width: calc(100% - 50px);
    }
}
@media (max-width: 430px) {
    main {
        padding: 0;
    }
    .logo {
        margin-bottom: 10px;
    }
    .logo img {
        height: 60px;
    }
    .navigation {
        padding: 0 30px;
    }
    .slide_content {
        padding-bottom: 20px;
    }
    .slide_content img {
        display: none;
    }
    .slide_content h3 {
        font-size: 30px;
        margin-top: 17px;
    }
    .slide_content .subtitle {
        font-size: 18px;
        margin-bottom: 15px;
        margin-top: 2px;
    }
    .slide_content {
        position: relative;
    }
    .btn.slide_btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 15;
    }
    .main_about {
        padding: 31px 15px 60px;
    }
    .main_about {
        padding: 59px 15px 60px;
    }
    h1 {
        margin-bottom: 15px;
    }
    .main_about_logo {
        height: 98px;
        margin-bottom: 29px;
    }
    .main_about .buttons_group {
        margin-top: 27px;
    }
    .btn {
        width: 250px;
        height: 50px;

    }
    .btn.btn_inline {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .btn.btn_inline:last-child {
        margin-bottom: 0;
    }
    .btn.btn_icon {
        line-height: 51px;
        font-size: 16px;
    }
    .btn.btn_icon img {
        left: 20px;
        height: 30px;
    }
    .main_about {
        padding-bottom: 15px;
    }
    h2.h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .main_team_carousel_item_body img {
        max-width: 100%;
    }
    .main_team {
        padding: 27px 27px 22px;
    }
    .main_team_carousel.slick-initialized .slick-slide.main_team_carousel_item {
        padding: 0;
    }
    .main_team_carousel {
        margin-bottom: 17px;
    }
    .team_carousel.slick-initialized .slick-slide.main_team_carousel_item {
        padding: 0;
    }
    .team_carousel {
        margin-bottom: 17px;
    }
    .main_team .slick-arrow.m_prev {
        left: -27px;
        padding-left: 12px;
    }
    .main_team .slick-arrow.m_next {
        right: -27px;
        padding-right: 12px;
    }
    .main_team .slick-arrow {
        align-content: center;
        align-items: center;
    }
    .main_team .slick-arrow img {
        height: 15px;
    }
    .tab_content {
        padding: 0 27px;
    }
    .tab_content .slick-arrow.m_prev {
        left: -27px;
        padding-left: 12px;
    }
    .tab_content .slick-arrow.m_next {
        right: -27px;
        padding-right: 12px;
    }
    .tab_content .slick-arrow {
        align-content: center;
        align-items: center;
    }
    .tab_content .slick-arrow img {
        height: 15px;
    }
    .main_news {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .main_news .news_items {
        padding: 0;
    }
    .main_news h2.h1 {
        margin-bottom: 32px;
    }
    .news_item_title {
        font-size: 16px;
        margin-bottom: 14px;
    }
    .news_item_date {
        padding-left: 26px;
    }
    .news_item_thumb {
        margin: 12px 0 28px;
    }
    .main_news .news_items {
        margin-bottom: 2px;
    }
    .main_news .slick-arrow {
        width: 40px;
        height: 36px;
        border: 1px solid #f5f5f5;
        z-index: 15;
        align-items: center;
        transform: translateY(-178%);
    }
    .main_news .slick-arrow img {
        height: 16px;
    }
    footer {
        padding: 0;
    }
    footer .socials_item {
        font-size: 0px;
        padding: 0;
        background-position: center;
    }
    .footer_block > * {
        width: 100%;
        text-align: center;
    }
    .footer_block {

    }
    .f_contacts {
        margin-top: 27px;
    }
    .copyright {
        line-height: 31px;
        margin-top: 19px;
    }
    .tabs_links a {
        width: 100%;
        margin: 0 15px 10px;
    }
    .tabs_links {
        margin-bottom: 22px;
    }
    #tabs .tabs_links a {
        margin: 0 0 10px;
    }
    #tabs .col-md-4 {
        width: 100%;
    }
    .news_item {
        margin: 0 15px 40px;
    }
    .pagination {
        justify-content: center;
        margin-bottom: 22px;
    }
    .pagination ul li:last-child {
        margin-right: 0;
    }
    .player_single_photo, .player_single_stat {
        width: 100%;
        margin-bottom: 40px;
    }
    .info_block {
        margin-bottom: 0;
    }
    .col50 {
        width: 100%;
        margin-bottom: 40px;
    }
}